

/* SearchBar Section */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Teko:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgba(255, 255, 255, 0.486);
  width: 100%;
  overflow-x: hidden;
  /* padding: 0 20px; */
  /* min-height: 100vh; */
 
}

.navbar{
  height: 80px;
  z-index: 1000;
}

::-moz-selection{
  color: #fff;
  background:rgba(0,163,136,255);
}

::selection{
  color: #fff;
  background:rgba(0,163,136,255);
}

.wrapper{
  max-width: 550px;
  margin: 50px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
          box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  /* margin-top: 80px; */
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  /* padding: 0; */
  /* opacity: 0; */
  /* pointer-events: none; */
  overflow-y: auto;
  /* padding: 10px 8px; */
  opacity: 1;
  pointer-events: auto;
  /* margin-top: 80px;  */
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;

}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color:rgba(0,163,136,255);
  cursor: pointer;
}
/* CSS for the "Search not found" message */
.search-not-found {
  text-align: center;
  font-size: 18px;
  color: #FF0000; /* Customize the color as needed */
  padding: 10px;
  background-color: #e9e9e2;
  display: none;
}

.intro {
  margin: 0;
  padding: 0;
}

/* Notes Section */
.notecard{
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    /* margin-top: 0px; */
}
.notecard:hover{
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}
.subname{
    text-decoration:none;
    
}


/* Adding new media Queries for NotesCard Section for responsivenes........ */
@media (max-width: 767px) {
  .notecard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; 
    text-align: center;
    min-width: 150px;
  }

  .notecard img {
    margin-right: 10px;
    max-width: 70px; 
    height: auto; 
  }

  .notecard .subname {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; 
  }

  /*#dbms .notecard,*/
  /*#py .notecard {*/
  /*  min-width: auto;*/
  /*  width: auto;*/
  /*  gap: 50px;*/
    
  /*}*/
}
/* End of media Queries for NotesCard Section for responsivenes........ */








a {
  text-decoration: none;
}

nav {
	font-family: monospace;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

nav li {
	/* color: #000000; */
  background: rgb(255, 255, 255);
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
  
nav li:hover {
	background: rgb(255, 255, 255);
	cursor: pointer;
}

nav ul li ul {
	background: rgb(255, 255, 255);
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0.4rem;
	left: 0;
  display: none;
}

nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
	clear: both;
  width: 100%;
}
.abhead{
  font-family: 'Teko', sans-serif;
}
.green{
  color:rgba(0,163,136,255);
}
.bggreen{
  background-color: rgba(0,163,136,255);
}
/* counter */
.bg{
  background-color: #1e1f26;
  height: 100vh;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.level{
  background-color: #00d1b2;
  padding: 5rem 0;
  color: #ffffff;
  margin: 0!important;
}

.title{
  color: inherit;
  width: 200px;
  height: 36px;
}
/* counter */
.space-area {
  position: relative;
}
.count-area {
    position: relative;
    background:rgba(0,163,136,255);
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.count-area-content {
    margin-top: 30px;
}
.count-area i {
    font-size: 48px;
}
.count-digit {
    margin: 20px 0px;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}
.count-title {
    font-size: 20px;
}
/* company flip */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #ffffff;
  color: rgba(0,163,136,255);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/* button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0,163,136,255);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 70px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#myBtn:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.text-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socialicon{
  padding: 10px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.socialicon:hover{
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

/* credible website */
.logoimg:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
/* Contact Us */
.Contact{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #095a55;
  /* background: rgba(0,163,136,255); */
}
/* 
.Contact:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff38e;
} */
.containerr{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* z-index: 100; */
  /* background: #fff; */
}

.containerr .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: rgba(0,163,136,255);
  /* z-index: 1; */
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 20px 25px rgba(0,0,0,0.15);
          box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.contactInfo{
  z-index: 1;
}

.containerr .contactInfo h2{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.containerr .contactInfo ul.info {
  position: relative;
  margin: 20px 0;

}
.containerr .contactInfo  ul.info li{
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.containerr .contactInfo  ul.info li span:nth-child(1){
  width: 30px;
  min-width: 30px;
}
.containerr .contactInfo  ul.info li span:nth-child(1) img {
  max-width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.containerr .contactInfo  ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}
.containerr .contactInfo ul.sci{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.containerr .contactInfo ul.sci li{
  list-style: none;
  margin-right: 15px;
}
.containerr .contactInfo ul.sci li a{
  text-decoration: none;
}

.containerr .contactInfo ul.sci li a img{
  -webkit-filter: invert(1);
          filter: invert(1);
}


.containerr .contactForm{
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 50px 50px rgba(0,0,0,0.15);
          box-shadow: 0 50px 50px rgba(0,0,0,0.15);

}
.containerr .contactForm h2{
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
.containerr .contactForm .formBox{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}
.containerr .contactForm .formBox .inputBox{
  position: relative;
  margin-bottom: 35px;
}
.containerr .contactForm .formBox .inputBox.w50{
  width: 47%;
}
.containerr .contactForm .formBox .inputBox.w100{
  width: 100%;
}
.containerr .contactForm .formBox .inputBox input,
.containerr .contactForm .formBox .inputBox textarea{
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color:#333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}
.containerr .contactForm .formBox .inputBox textarea{
  height: 120px;
}
.containerr .contactForm .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.containerr .contactForm .formBox .inputBox input:focus ~ span,
.containerr .contactForm .formBox .inputBox input:valid ~ span,
.containerr .contactForm .formBox .inputBox textarea:focus ~ span,
.containerr .contactForm .formBox .inputBox textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #095a55;
  font-weight: 500;
}
.containerr .contactForm .formBox .inputBox input[type="submit"]{
  position: relative;
  cursor: pointer;
  background: #095a55;
  color: #fff;
  border: none;
  max-width: 120px;
  padding: 10px 18px 10px 18px;
}
.containerr .contactForm .formBox .inputBox input[type="submit"]:hover{
  background: #0d948b;
}

/* now, make it responsive */
@media (max-width:1200px){
  .containerr{
    width: 90%;
    min-width: auto;
    margin: 20px;
    -webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.2);
            box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  }
  .containerr .contactInfo{
    top: 0;
    height: 550px;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .containerr .contactForm{
    position: relative;
    width: calc(100%-350px);
    padding-left: 0 ;
    margin-left: 0;   
    padding: 40px;
    height: 550px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 991px){
  .Contact::before{
    display: none;
  }
  .containerr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
        -ms-flex-direction:column-reverse;
            flex-direction:column-reverse
  }
  .containerr .contactForm{
    width: 100%;
    height: auto;
  }
  .containerr .contactInfo{
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .containerr .contactInfo ul.sci{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 600px){
  .containerr .contactForm{
    padding: 25px;
  }
  .containerr .contactInfo{
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .containerr .contactInfo ul.sci{
    margin-top:40px;
  }
}
.count-digit::after{
  content: '+';
}
.subname{
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 20px !important;
}

/* Contact us ended */
/* counter */
@media only screen and (max-width: 2060px) {
  .dropdown:hover .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-menu.show  ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* @media only screen and (max-width: 300px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    overflow-y: scroll;
  }
  .dropdown-menu.show  ul{
    display: block;
    overflow-y: scroll;
  }
} */
@media only screen and (max-width: 767px) {
  .logostar{
    /* margin: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* padding-left: 120px; */
  }
  .notecard{
    margin: 50px;
  }
}
@media only screen and (max-width: 500px){
  .notecard{
    margin: 50px;
  }
  .wrapper .search-input{
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    /*display: -ms-flexbox;*/
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .notecard{
    width: 90%;
  }
}

/* Updated responsive styles for smaller screens */
@media only screen and (max-width: 767px) {
  .navbar {
    height: auto;
    position: relative;
  }

  .navbar li {
    position: relative;
  }

  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1; /* Ensure the dropdown is on top of other elements */
  }

  .navbar li:hover > .dropdown-menu,
  .dropdown:hover > .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropdown-menu ul {
    display: none;
  }

  .dropdown-menu ul li {
    width: 100%;
    text-align: left;
  }

  .notecard {
    margin: 10px;
  }
}

/* trynav */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
.container{
	max-width: 100%;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
.header a{
	text-decoration: none;
  font-family: 'Montserrat';
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
  margin-top: 0;
  position: fixed;
	z-index: 100;
	padding: 2px;
}
.header-main{
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 5px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: rgba(0,163,136,255);
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 5px 0;
	font-size: 16px;
	color: rgb(111, 111, 111);
	text-transform: capitalize;
	font-weight: 600;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a:hover{
  color:rgba(0,163,136,255);
  -webkit-transition: 1s smooth;
  -o-transition: 1s smooth;
  transition: 1s smooth;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
  color: gray !important;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: white;
	height: 2px;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: rgba(0,163,136,255);
}
.header .menu > .menu-item > a .plus:after{
   -webkit-transform: translate(-50%,-50%) rotate(-90deg);
       -ms-transform: translate(-50%,-50%) rotate(-90deg);
           transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover{
  color:rgba(0,163,136,255);;
}

.header .menu > .menu-item > .sub-menu{
	width: 400px;
	position: absolute;
	left:-100px;
	top:80%;
	padding: 2px 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	-webkit-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	        transform: translateY(10px);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}


@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    -webkit-transform: translate(-50%,-50%) rotate(0deg);
        -ms-transform: translate(-50%,-50%) rotate(0deg);
            transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	color: gray;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: capitalize;
  background-color: transparent !important;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: rgba(0,163,136,255);
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,163,136,255);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* responsive */

@media (max-width: 992px) {
  body, ul {
    margin: 0;
    padding: 0;
  }
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .column{
    float:none !important;
    width: 100% !important;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 1000 !important;
    padding: 15px 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }

  .header .menu > .menu-item {
    display: block;
    width: 100%;
  }

  .header .menu > .menu-item > a {
    color: gray;
    padding: 12px 15px;
  }

  .header .menu > .menu-item.menu-item-has-children > a {
    display: block;
    width: 100%;
    /* align-items: center; */
  }

  .header .menu > .menu-item.menu-item-has-children > a .fa-caret-down {
    position: absolute;
    top: 50%;
    right: 70px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header .menu > .menu-item-has-children.active > a .plus:after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item:hover > a{
    color: white;
    background: rgba(0,163,136,255);
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 5px 5px;
    color: gray;
  }

  .header .close-nav-menu,
  .header .open-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.column{
  float: left;
  width: 50%;
  padding: 2px !important;
}
.column a{
  font-weight: bold;
  font-family: 'Montserrat';
  color: gray;
}